@{
    ViewData["Title"] = "Home Page";
}
<!--=================================== Start Banner =====================================-->
<section class="home-banner-area relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="home-banner-content col-lg-12">
                <h1>Pandalicious</h1>
                <hr>
                <p>Spreading the world with Panda Happiness!</p>
            </div>
        </div>
    </div>
</section>
<!--=================================== End Banner =====================================-->