@{
    ViewData["Title"] = "Home Page";
}
<!--=================================== Start Banner =====================================-->
<section class="home-banner-area relative">
    <div class="container">
        <!-- Welcome Text -->
        <div class="container col-lg-12 col-md-12 col-sm-12">
            <p id="quote">Spreading Panda Happiness around the World!</p>
        </div>
    </div>
</section>
<!--=================================== End Banner =====================================-->